<div class="container" style="height: 70vh; display: flex; align-items: center; justify-content: center;">
  <div style="width: 400px; height: min-content;padding: 20px;border-radius: 12px;">
    <h1 style="font-size: 23px; margin-bottom: 25px;">Resend confirmation instructions</h1>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), style: "font-size: 15px;", html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.label :email, class: "form-label" %><br />
        <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions mt-3 mb-3">
        <%= f.submit "Resend confirmation instructions", class: "btn btn-primary w-100" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>


<!--<h2>Resend confirmation instructions</h2>-->

<%#= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
<%#= render "devise/shared/error_messages", resource: resource %>

<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
<%#= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
<!--  </div>-->

<!--  <div class="actions">-->
<%#= f.submit "Resend confirmation instructions" %>
<!--  </div>-->
<%# end %>

<%#= render "devise/shared/links" %>
