<div class="container" style="height: 90vh; display: flex; align-items: center; justify-content: center;">
  <div class="row" style="border-radius: 12px;">
    <div class="col" style="width: 400px; height: min-content;padding: 20px;">
      <h1 style="font-size: 23px; margin-bottom: 25px;">Edit <%= resource_name.to_s.humanize %></h1>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), style: "font-size: 15px;", html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="mb-3">
          <%= f.label :name, class: "form-label" %><br />
          <%= f.text_field :name, class: "form-control", autofocus: true, autocomplete: "name" %>
        </div>

        <div class="mb-3">
          <%= f.label :email, class: "form-label" %><br />
          <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="mb-3">
          <%= f.label :password, class: "form-label" %> <br><i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, class: "form-control", autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation, class: "form-label" %><br />
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "new-password" %>
        </div>

        <div class="mb-3">
          <%= f.label :current_password, class: "form-label" %> <br><i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, class: "form-control", autocomplete: "current-password" %>
        </div>

        <div class="actions mt-3 mb-3">
          <%= f.submit "Update", class: "btn btn-primary w-100" %>
        </div>
      <% end %>
    </div>
    <div class="vr"></div>
    <div class="col" style="width: 400px; height: min-content;padding: 20px;">
      <h1 style="font-size: 23px; margin-bottom: 25px;">Delete Your Account?</h1>
      <div class="mb-3">
        <%= button_to "Delete account", registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete %>
      </div>

      <%= link_to "Back", :back, style: "text-decoration: none"%>
    </div>
  </div>

</div>

